# Rename this file into wificonfig.py
# Complete with your credentials

SSID='wifi ssid'
PASSWORD='wifi password'

# Adafruit.io MQTT broaker
IO_USERNAME = 'user_name'
IO_URL = 'io.adafruit.com'
IO_KEY = '123456789123456789123456789'

# MQTT stream name
# For MQTT set your username and key above the set the MQTT variable
# to True.
#
MQTT = False
SNAME = "device_name"
